<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.luzhuo.lib_image_select" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".utils.VideoPlayerActivity" android:launchMode="singleTop" android:theme="@style/VideoStyle" />
    </application>
</manifest>
